body {
  background-color: rgb(250, 235, 215);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.another {
  background-color: white;
  margin-top: 30px;
}

.light {
  border: 4px solid white;
  color: brown;
  font-family: Arial black;
}

.navigation {
  background-color: #F8AF57;

}




.method {
  display: flex;

}

.carousel {
  height: 100vh;
}

.aboutus {
  color: white;
}