body {
  background-color: #501B1D;

  font-family: bangla;

}

@font-face {
  font-family: bangla;
  src: url(Roboto/Roboto-BlackItalic.ttf);
  src: url(Roboto/Roboto-Bold.ttf);

}



.another {
  background-color: white;
  margin-top: 30px;
}

.light {
  border: 4px solid white;
  color: brown;
  font-family: Arial black;
}

.navigation {
  background-color: #303C6C;

}

.aboutuss {
  background-color: #B4DFE5;
}


.method {
  display: flex;

}

.carousel {
  height: 100vh;
}

.aboutus {
  color: white;
}

footer {
  background-color: rgb(165, 152, 152);

  width: 1300px;
  height: 60px;
}